@import 'layout/layout';

.nav-bar {
    width: 100%;
    grid-area: nav;
    background-color: #cec9cc;
    border-bottom: 1px solid #211a21;
    display: flex;
    justify-content: space-between;
    &__items {
        max-width: 1720px;
        display: grid;
        grid-template-columns: auto 1fr 1fr;
    }
}

.nav-button {
    display: flex;
    align-items: flex-end;
    &__1 {
        background-color: #b5b6e4;
        color: #211a21;
        border-radius: 0.75em;
        padding: 10px 24px;
        margin: 1em;
        text-decoration: none;
        border: 1px splid #211a21;
    }
    &__2 {
        background-color: #4f43ae;
        color: #211a21;
        border-radius: 0.75em;
        padding: 10px 24px;
        margin: 1em;
        text-decoration: none;
        border: 1px splid #211a21;
    }
}

.nav-bar__items--logo-text {
    margin-left: 0% !important;    
}

.slider {
    grid-area: slider;
}

.main {
    grid-area: main;
    padding: 2em;
    background-color: #cec9cc;    
    &--box {
        border: 3px solid #4f43ae;
        margin: 1em;
        padding: 1em;
        font-size: x-large;
        background-color: white;
        height: auto;
    }
}

.pilars {
    grid-area: pilars;
    display: flex;
    background-color: #cec9cc;    
    &--1 {
        margin: 1em;
        background-color: white;
        height: auto;
    }
    &--2 {
        margin: 1em;
        background-color: white;
        height: auto;
    }
    &--3 {
        margin: 1em;
        background-color: white;
        height: auto;
    }
}

.footer {
    grid-area: footer;
    display: flex;
    column-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #cec9cc;
}
